*{ 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

/*header formatting*/
header{ 
    font-size: 2rem;     
}

.main-title { 
    font-family: 'Homemade Apple', cursive;
    color: #ffd870; 
    text-align: center; 
    text-transform: lowercase;   
}

.number-title { 
    font-family: 'Homemade Apple', cursive;
}


/*main section styling*/
.introduction {
    text-align: center; 
}

.introduction h2{
    font-family: 'Homemade Apple', cursive;
    font-size: 2rem; 
}
/*svg img styling and flex-container */
img { 
    width: 15rem; 
    height: 15rem; 
}

.form-container { 
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-around;
    align-items: center; 

    padding: 1rem; 
    border-radius: 5rem;
}

/*form styling */
/*1 rem = 10px */
.note { 
    width: 50rem; 
}
input[type=text], input[type=date]{ 
    background-color: lightgrey; 
    border-style: none; 
    padding: 0.5rem;  
}

#new-note input[type=text]{ 
    width: 25rem; 
    height: 25rem; 
}

input[type=text]:focus, input[type=date]:focus{ 
    background-color: white;  
}

input[type=button] { 
    border-style: none; 
    border-radius: 5rem; 
    background-color:black; 
    color: white; 
    padding: 1rem; 
    
}

input[type=button]:hover{ 
    cursor: pointer; 
    background-color: #ffd870; ; 
    color: black; 
}

/*footer*/
footer { 
    text-align: center; 
}

/*media queries at breakpoints-480px, 768px, 1024px*/